/* Red flash effect */
.flash {
  animation: flashEffect 0.25s linear;
}

@keyframes flashEffect {
  0% { background-color: rgba(255, 0, 0, 0.6); }
  100% { background-color: transparent; }
}

/* Screen shake */
.shake {
  animation: shakeScreen .25s linear infinite;
}

@keyframes shakeScreen {
  0% { transform: translate(1px, -1px); }
  25% { transform: translate(-2px, 2px); }
  50% { transform: translate(2px, -2px); }
  75% { transform: translate(-1px, 1px); }
  100% { transform: translate(1px, -1px); }
}
